<div class="row">
  <div class="col">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label class="font-weight-bold" for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" [(ngModel)]="ingredient.name">
        </div>
        <div class="col-sm-2 form-group">
          <label class="font-weight-bold" for="amount">Amount</label>
          <input type="number" id="amount" name="amount" class="form-control" [(ngModel)]="ingredient.amount">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-success mr-1" type="submit" (click)="addIngredient()">{{ingredient.id > 0 ? 'Update' : 'Save'}}</button>
          <button class="btn btn-danger mr-1" type="Button" (click)="deleteIngredient()" [disabled]="ingredient.id <= 0">Delete</button>
          <button class="btn btn-primary mr-1" type="Button" (click)="onClearIngredient.emit()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
