<!--The content below is only a placeholder and can be replaced.-->
<app-header (onModeChanged)="modeChanged($event)" [page]="mode"></app-header>
<div>
  <div class="container">
    <div class="row" *ngIf="mode === 'recipe'">
      <div class="col">
        <app-recipes></app-recipes>
      </div>
    </div>
    <div class="row" *ngIf="mode === 'shoppingList'">
      <div class="col">
        <app-shopping-list></app-shopping-list>
      </div>
    </div>
    <div class="row">
      <div id="myTarget" class="col" appCustomDirective color="#c51162" content="TEST TEST">
        This some random text
      </div>
    </div>
  </div>
</div>

